name: my_sign_bot

on:
    push:
        branches:
            - me
    schedule:
        - cron: '5 16 * * *'
jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout codes
              uses: actions/checkout@v2
            - name: Use Node.js
              uses: actions/setup-node@v1
              with:
                node-version: '12.x'
            - name: Run app
              run: npm install
            - run: node app.js
              env:
                PUSH_KEY: ${{ secrets.PUSH_KEY }}
                IQIYI_COOKIE_PC: ${{ secrets.IQIYI_COOKIE_PC }}
                IQIYI_COOKIE_MO: ${{ secrets.IQIYI_COOKIE_MO }}
                MANGGUO_COOKIE: ${{ secrets.MANGGUO_COOKIE }}
